.content-container{
  width: 80%;
  height: 100%;
  padding: 25px;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .content-container{
    padding: 45px;
  }
}

@media (min-width: 1080px) {
  .content-container{
    max-width: 1200px;
    height: calc(100% - 120px);
    padding:60px;
    display: flex;
    flex-direction: row;
  }

    app-weather-sidebar {
      flex: 0 0 40%;
      max-width: 40%;
    }

    app-weather-cards {
      flex: 0 0 60%;
      max-width: 60%;
    }
}

@media (min-width: 1200px) {
  /*app-weather-sidebar {*/
  /*  flex: 0 0 30%;*/
  /*  max-width: 30%;*/
  /*}*/

  /*app-weather-cards {*/
  /*  flex: 0 0 70%;*/
  /*  max-width: 70%;*/
  /*}*/
}
