<div class="weather-card">
  <div class="card-top">
    <h2 class="city-title">{{ cityName }}</h2>
    <img src="../../../../../../assets/trash.png" alt="trash" class="trash-icon" (click)="data.removeCity(cityName)"/>
  </div>

  <div class="weather-info">
    <img [src]="getWeatherIcon(weatherCondition)" alt="{{ weatherCondition }}" class="forecast-icon" />
    <div class="text-info">
      <div class="description">
        <p>{{ weatherCondition }}</p>
        <p>{{ description }}</p>
      </div>
      <p class="temperature">{{ currentTemperature }}°</p>
    </div>

  </div>

<!--  <div *ngIf="forecast.length">-->
<!--    <h3>Forecast:</h3>-->
<!--    <ul>-->
<!--      <li *ngFor="let item of forecast">-->
<!--        <strong>{{ item.date }}:</strong> {{ item.temperature }}°C - {{ item.condition }}-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
</div>
