<div class="cards-list">
  <div class="card-find" *ngIf="filteredWeatherDataList.length > 0">
    <input
      type="text"
      class="inputs"
      [(ngModel)]="searchTerm"
      placeholder="Enter the city name to find the same card" />

    <button class="buttons" (click)="searchCard()">Search</button>
  </div>

  <div *ngIf="filteredWeatherDataList.length > 0" class="weather-cards-container">
    <app-card-filling
      *ngFor="let weatherData of filteredWeatherDataList"
      [weatherData]="weatherData"
      (openModal)="openModal($event)"
      (removeCityEvent)="removeCity($event)"
    ></app-card-filling>
  </div>

  <div *ngIf="isModalOpen">
  <app-card-modal
    [data]="selectedCard!"
    (close)="closeModal()"
  ></app-card-modal>
  </div>
</div>
