.cards-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.card-find{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-cards-container {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

app-card-filling{
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #586774;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #6A7A82;
  border-radius: 10px;
}

@media (min-width: 600px) {
  app-card-filling{
    width: 50%;
  }
  .cards-list{

  }
}

@media (min-width: 1080px) {
  .cards-list {
    padding: 30px;
    height: calc(100% - 60px)
  }

  .weather-cards-container {
    height: 100%;
    overflow-y: auto;
  }

  .card-find{
    flex-direction: row;
  }

  .inputs{
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .weather-cards-container {
    width: calc(100% - 60px);
    overflow-y: auto;
    align-items: stretch;
    justify-content: flex-start;
  }

  app-card-filling{
    width: 33.33%;
  }
}
