* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2E4152;
  height: auto;
  background: #BCBEBD;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  padding: 10px;
}

.weather-sidebar-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/*--------TITLE STYLE---------*/
.app-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 32px;
}

.title-main{
  font-family: 'Inika', serif;
  font-size: 50px;
  font-weight: bolder;
}

.title-sub{
  font-family: 'Inika', serif;
  font-size: 30px;
}

/*!*--------CITY-CONTAINER STYLE---------*!*/
.city-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hint{
  text-align: center;
  margin-bottom: 32px;
}

.city-info {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
}

.inputs {
  margin-bottom: 12px;
}

.city-container.visible {
   display: flex;
   margin-bottom: 28px;
}

.city-container.hidden {
  display: none;
}

.toggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.toggle-button {
  display: block;
}

.toggle-button.active {
  transform: rotate(180deg);
}

.toggle-button {
  color: #818a8a;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: transform 0.3s ease;
}

.toggle-text{
  font-size: 12px;
}

@media (min-width: 600px) {
  .city-container{
    margin: 0 20px;
  }
}

@media (min-width: 1080px) {
  .weather-sidebar-container {
    height: 100%;
    width: 100%;
  }

  .toggle{
    display: none;
  }

  .city-container.hidden {
    display: flex;
  }

  .title-main{
    font-size: 70px;
  }

  .title-sub{
    font-family: 'Inika', serif;
    font-size: 50px;
  }
}
