@font-face {
  font-family: 'Inika';
  src: url('/assets/fonts/Inika-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'InclusiveSans';
  src: url('/assets/fonts/InclusiveSans-Regular.ttf') format('truetype');
  font-style: normal;
}
body, html{
  margin: 0;
  padding: 0;
  font-family: 'Inika', serif;
  background: linear-gradient(to top left, #79919D, #E0D2C7);
}

@media (min-width: 1080px) {
  body, html{
    height: 100%;
  }
}
